.box {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: #fff;
  }
  
  .gray {
    background: rgb(187, 191, 192);
  }
  
  .purple {
    background: rebeccapurple;
  }
  
  .red {
    background: indianred;
  }

  /* .collapse navbar-collapse{
    float: right;
    margin-top: auto;
  } */